@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2000px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2000px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}

*::-moz-scrollbar {
  width: 5px;
}

*::-moz-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2000px;
}

*::-moz-scrollbar-thumb {
  background: #888;
  border-radius: 2000px;
}

*::-moz-scrollbar-thumb:hover {
  background: #555;
}
